<%= link_to spot_spot_wants_path(@spot), method: :post, id: "wants", remote: true  do %>
  <span class="like-button">行きたい!</span>
  <i class="fa fa-check-square" aria-hidden="true"></i>
  <%= @spot.spot_wants.count %>
<% end %>
