  <h1>観光地さがします</h1>
  <p>観光地を探したい都道府県を選んで下さい</p>
  <div class="fadeSlider left">
<%= render 'japan_map' %>
  <span class="fadeSlider_01"></span>
  <span class="fadeSlider_02"></span>
  <span class="fadeSlider_03"></span>
  <span class="fadeSlider_04"></span>
</div>
<%= render 'layouts/sidebar' %>