<div class="fadeSlider">
  <h1>トップ画面です</h1>
<%= render 'japan_map' %>
<h3>都道府県名でのリンクも表示する予定です</h3>
  <span class="fadeSlider_01"></span>
  <span class="fadeSlider_02"></span>
  <span class="fadeSlider_03"></span>
  <span class="fadeSlider_04"></span>

</div>