<div class="top-back-box">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= render 'japan_map' %>
      </div>
      <div class="col-sm-1">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>