<%= link_to spot_spot_likes_path(@spot), method: :delete, id: "spot_likes", remote: true do %>
<span class="like-button">ここ好き！</span>
  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <%= @spot.spot_likes.count %>
<% end %>