<%= link_to spot_spot_review_spot_review_helpfuls_path(spot_id: review.spot.id, spot_review_id: review.id, helpful_id: @i), method: :post, id: "helpfuls#{@i}", class: "spot-review-footer-item", remote: true do %>
<span class="spot-review-footer-item" id="<%= @i %>"><em class="blue blue--bgLeft">このレビューは参考になりましたか？</em></span>
<button class="btn btn-default">はい</button>
    <!-- <i class="fa fa-music" aria-hidden="true""></i> -->
    <span class="balloon3-left">
    <%= review.spot_review_helpfuls.count %>
</span>
<% end %>
