/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// トップの日本地図
#japan-map {
    width: 50%;
    border-collapse: separate;
    border-spacing: 1px;
}
.pref {
    background: #224163;
    min-height: 10px;
    font-size: 0.7em;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.pref a {
    display: block;
    min-height: 10px;
    text-decoration: none;
    color: white;
}
#hokkaido {
    margin: 20px 0;
}

// 観光地詳細ページ
/* tabnav */
.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li label{
    display: inline-block;
    background: #ddd;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    cursor: pointer;
}
input[name=tabinput]{
  display: none;
}
#tab01:checked ~ .tabnav .tabnav01,
#tab02:checked ~ .tabnav .tabnav02 {
    background: #FFCC66;
    color: #333;
}

/* tabcontent */
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}
.tabcontent div{
  display: none;
}
#tab01:checked ~ .tabcontent #tabcontent01,
#tab02:checked ~ .tabcontent #tabcontent02  {
  display: block;
}
section {
	float: left;
	width: 600px;
}
#sidebar {
	float: right;
	width: 20%;
}
// フッター
footer {
	clear: both;
}