// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#q_s_spot_genre_id_eq {
	width: 100%;
}
.search_submit {
  color: #FFF;
  background: #0F0A64;
  border-color: #0F0A64;
  &:hover {
    background: #FF8C00;
  }
}