// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 観光地詳細ページ
.spot-show-box {
    width: 60%;
    float: left;
}
/* tabnav */
.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li label{
    display: inline-block;
    background: #ddd;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    cursor: pointer;
}
input[name=tabinput]{
  display: none;
}
#tab01:checked ~ .tabnav .tabnav01,
#tab02:checked ~ .tabnav .tabnav02 {
    background: #FFCC66;
    color: #333;
}

/* tabcontent */
.tabcontent{
    // padding: 20px;
    border: 1px dotted #ccc;
}
.tabcontent div{
  display: none;
}
#tab01:checked ~ .tabcontent #tabcontent01,
#tab02:checked ~ .tabcontent #tabcontent02  {
  display: block;
}
.left {
	float: left;
    padding-left: 5%;
	// width: 600px;
}
.pad_left {
    padding-left: 5%;
}
li {
    list-style: none;
    a {
      text-decoration: none;
    }
}

.button {
  display: inline-block;
  padding: .25em 1em;
  background-color: #FF8C00;
  border: 1px solid #FF8C00;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button:hover {
  -webkit-animation: bounce 2s ease-in-out;
  animation: bounce 2s ease-in-out;
}
@-webkit-keyframes bounce {
  5%  { -webkit-transform: scale(1.1, .8); }
  10% { -webkit-transform: scale(.8, 1.1) translateY(-5px); }
  15% { -webkit-transform: scale(1, 1); }
}
@keyframes bounce {
  5%  { transform: scale(1.1, .8); }
  10% { transform: scale(.8, 1.1) translateY(-5px); }
  15% { transform: scale(1, 1); }
}
