<div id="sidebar" >
  <a class="twitter-timeline" data-width="220" data-height="525" href="https://twitter.com/NTA_jp?ref_src=twsrc%5Etfw">Tweets by NTA_jp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>