<div id="sidebar">
<a class="twitter-timeline" data-height="70vh" data-width="330" data-theme="light" data-link-color="#FF8C00" href="https://twitter.com/NTA_jp?ref_src=twsrc%5Etfw">Tweets by NTA_jp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

